<!DOCTYPE html>
<html lang="en">

<!--Ivona Stojanovic-->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize-v1.0.0/materialize/css/materialize.min.css"
        media="screen,projection" />
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link href="fontovi.css" rel="stylesheet">
    <link href="css/registration.css" rel="stylesheet">
    <link href="css/commom.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pack & Go</title>
    <script src="https://kit.fontawesome.com/063f419900.js" crossorigin="anonymous"></script>
</head>

<body
    style="background-color:#d5faff; background-image: url(pictures/background.jpg);background-repeat: no-repeat;background-attachment: fixed;background-size: 100%;">
    <nav>
        <div class="nav-wrapper  cyan darken-3">
            <a href="index.html" class="brand-logo">Pack & Go</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="offer_preview.html">Ponude</a></li>
                <li><a href="contact.html">Kontakt</a></li>
                <li><a href="log_in.php.html">Uloguj se</a></li>
                <li><a href="registration.html">Registracija</a></li>
            </ul>
        </div>
    </nav>
    <div class="row">
        <div class="card hideScrollBar hoverable col s10 l5 push-l2 push-s1"
            style="margin-top: 2%;height: 620px;border-radius: 20px;overflow-y: scroll">
            <h3 class="card-content" style="text-align: center;">Registruj se</h3>
            <div class="row choose center">
                <h3>Želite se registrovati kao:</h3>
                <label class="col l4 m4 s12">
                    <input class="with-gap" name="role" type="radio" checked onclick="radioButton('userForm');" />
                    <span>VIP korisnik</span>
                </label>
                <label class="col l4 m4 s12">
                    <input class="with-gap" name="role" type="radio" onclick="radioButton('agencyForm');" />
                    <span>Turistička agencija</span>
                </label>
                <label class="col l4 m4 s12">
                    <input class="with-gap" name="role" type="radio" onclick="radioButton('privateForm');" />
                    <span>Pravatni izdavač</span>
                </label>
            </div>

            <div class="card-content" id="idtemp">
                <div class="user" id="userForm">
                    <h3 class="cyan-text text-darken-3">Registracija VIP korisnika</h3>
                    <div class="input-field"><input type="text" class="validate" id="username1"><label
                            for="username1">Korisničko ime</label></div>
                    <div class="input-field"><input type="password" class="validate" id="password1"><label
                            for="password1">Lozinka</label></div>
                    <div class="input-field"><input type="password" class="validate" id="password3"><label
                            for="password3">Potvrda lozinke</label></div>
                    <div class="input-field"><input type="email" class="validate" id="email1"><label for="email1">Email
                            adresa</label></div>
                </div>

                <div class="user" id="privateForm">
                    <h3 class="cyan-text text-darken-3">Registracija privatnog izdavača</h3>
                    <div class="input-field"><input type="text" class="validate" id="username2"><label
                            for="username2">Korisničko ime</label></div>
                    <div class="input-field"><input type="password" class="validate" id="password2"><label
                            for="password2">Lozinka</label></div>
                    <div class="input-field"><input type="password" class="validate" id="password3"><label
                            for="password3">Potvrda lozinke</label></div>
                    <div class="input-field"><input type="email" class="validate" id="email2"><label for="email2">Email
                            adresa</label></div>
                    <div class="input-field"><input type="text" class="validate" id="name2"><label
                            for="name2">Ime</label></div>
                    <div class="input-field"><input type="text" class="validate" id="surname2"><label
                            for="surname2">Prezime</label></div>
                    <div class="input-field"><input type="text" class="validate" id="location2"><label
                            for="location2">Lokacija</label></div>
                    <div class="input-field"><input type="text" class="validate" id="phone2"><label for="phone2">Broj
                            telefona</label></div>
                    <div class="input-field"><input type="text" class="validate" id="jmbg2" minlength='13'
                            maxlength='13'><label for="jmbg2">JMBG</label></div>


                </div>

                <div class="user" id="agencyForm">
                    <h3 class="cyan-text text-darken-3">Registracija turističke agencije</h3>
                    <div class="input-field"><input type="text" class="validate" id="username3"><label
                            for="username3">Korisničko
                            ime</label></div>
                    <div class="input-field"><input type="password" class="validate" id="password3"><label
                            for="password3">Lozinka</label></div>
                    <div class="input-field"><input type="password" class="validate" id="password3"><label
                            for="password3">Potvrda lozinke</label></div>
                    <div class="input-field"><input type="email" class="validate" id="email3"><label for="email3">Email
                            adresa</label>
                    </div>
                    <div class="input-field"><input type="text" class="validate" id="name3"><label for="name3">Naziv
                            agencije</label></div>
                    <div class="input-field"><input type="text" class="validate" id="surname3"><label for="surname3">Ime
                            i prezime vlasnika</label>
                    </div>
                    <div class="input-field"><input type="text" class="validate" id="location3"><label
                            for="location3">Lokacija</label>
                    </div>
                    <div class="input-field"><input type="text" class="validate" id="phone3"><label for="phone3">Broj
                            telefona</label>
                    </div>
                    <div class="input-field"><input type="text" class="validate" id="jmbg3" minlength='9'
                            maxlength='9'><label for="jmbg3">PIB</label></div>
                </div>
                <a href = "index.html"><button class="btn waves-effect waves-light" style="margin-left: 30%;width: 40%;" type="submit"
                    name="action">Registracija
                    <i class="material-icons right">send</i>
                </button></a>
            </div>
        </div>
    </div>
    <script>
        radioButton('userForm');
        function radioButton(id) {
            var formsHolder = document.getElementById('idtemp');
            var selectedForm = document.getElementById(id);
            var forms = document.getElementsByClassName('user');
            for (var i = 0; i < forms.length; i++) {
                forms[i].classList.add('hide');
            }
            selectedForm.classList.remove('hide');
        }
    </script>
</body>

</html>